<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
  <div align="left" style="margin : 20px">
    <font size="5">社員登録</font>
  </div>
  <!-- 登録フォーム -->
  <form method="get" action="">
  <div align="center" style="margin : 20px">
    {{ form.errors.code }}
    <label>{{ form.code.label }} {{ form.code }}</label>
    {{ form.errors.name }}
    <label>{{ form.name.label }} {{ form.name }}</label>
    {{ form.errors.dep }}
    <label>{{ form.dep.label }} {{ form.dep }}</label>
    {{ form.errors.mail }}
    <label>{{ form.mail.label }} {{ form.mail }}</label>
  </div>
  <div align="center">
    <button class="btn btn-success" type="submit">登録</button>
  </div>
  </form>
 
  <div align="center" style="margin : 20px">
    {{message}}
  </div>

{% endblock %}
</html>