<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

  <div>
  <div class="card_welcom">
      <div class="title-box_welcom">
        <p class="title">Welcom</p>
      </div>
      <div class="line"></div>
      <div class="desc-box_welcom">
        <p class="desc">あなたのスキルを登録しましょう</p>
      </div>
  </div>
  </div>

  <div class="card_champ">
      <div class="title-box_champ">
        <p class="title">User</p>
      </div>
      <div class="line"></div>
      <div class="desc-box">
        <p class="desc">0</p>
      </div>
    </div>

    <div class="card_register">
      <div class="title-box_register">
        <p class="title">Number of registrants</p>
      </div>
      <div class="line"></div>
      <div class="desc-box">
        <p class="desc">{{worker_num}}</p>
      </div>
    </div>
  
    <div class="card_skill">
      <div class="title-box_skill">
        <p class="title">Number of skills</p>
      </div>
      <div class="line"></div>
      <div class="desc-box">
        <p class="desc">{{skill_num}}</p>
      </div>
    </div>

    
  


{% endblock %}

</html>